@use "./spinner";

.spinner {
  position: fixed;
  $spinner-size: 200px;
  top: 50%;
  left: 50%;
  margin-left: $spinner-size / -2;
  margin-top: $spinner-size / -2;

  //@include spinner(1s, $spinner-size, linear, 10, 40px, lighten(black, 15%), rgba(100,100,100,.75));
  @include spinner.rotating-spinner(-360deg, 50s, linear, 1s, $spinner-size, linear, 10, 40px, lighten(black, 15%), rgba(100,100,100,.75));
}
